.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    align-items: center;
    
}
.hedear{
    width: 100vw;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content:space-around
}
.cardPaage{
    width: 95vw;
    height:fit-content ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    direction: rtl;
}
