.card {
  width: 250px;
  height: 470px;
  border-radius: 7px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin-top: 20px;
}
.buyButtton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: green;
  margin-top: 20px;
}
.border {
  width: 12vw;
  /* height: 1vh; */
  border: 1px solid black;
}
